body{
    background-image: url(pexels-anna-shvets-4482900.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 1px;
}
.form {
    --width-of-input: 200px;
    --border-height: 1px;
    --border-before-color: rgba(221, 221, 221, 0.39);
    --border-after-color: #5891ff;
    --input-hovered-color: #4985e01f;
    position: relative;
    left: 30%;
    width: 40%;
    background-color: #ffffff;
    padding: 1.25em 0.9em;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    
   }
   /* styling of Input */
   .input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
   }
   /* styling of animated border */
   .input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
   }
   /* Hover on Input */
   input:hover {
    background: var(--input-hovered-color);
   }
   
   input:focus {
    outline: none;
   }
   /* here is code of animated border */
   input:focus ~ .input-border {
    width: 100%;
   }
   button {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(88,126,244);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 15px;
   }
   
   button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   button:hover span {
    padding-right: 15px;
   }
   
   button:hover span:after {
    opacity: 1;
    right: 0;
}
.result_div{
    display: flex;
    justify-content: center;
}
.designed_div{
    width: 50%;
    border-radius: 1000px;
    background-color: grey;
    font-weight: 800;
}
.card-body{
    background-color: grey;
    height: 35vh;
    border-radius: 10px;
}
   